@import "../../app.scss";
.wrapper {

   
      h1 {
        font-size: 88px;
        text-align: center;
        align-self: center;
        @include mobile {
          font-size: 36px;
        }
       
      }
      div {
        h2{
            font-size: 40px;
            text-align: center;
            align-self: center;
            @include mobile {
            font-size: 36px;
        }
        }
      }
      p {
        text-align: center;
        font-size: 70px;
        @include mobile {
            font-size: 36px;
          }
        }

    }
  

 

  